<h1>Rock, Paper or Scissors Game</h1>
<h2>Computer vs. You</h2>

<div id="left">
  <span id="player-move"> ? </span>
</div>

<div id="right">
  <span id="computer-move"> ? </span>
</div>

<div style="clear:both;"></div>

<div id="move">
  <a class="scissors" data-move="scissors">  ✄ </a>
  <a class="rock" data-move="rock">   ✺ </a>
  <a class="paper" data-move="paper">   ❏ </a>
  <p id="move-choosen"> Paper </p>
</div>

<div id="notification">
  Make a choice!
</div>
