<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>Rock, Paper or Scissors Game | @klebervirgilio</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <%= yield %>
    </div>

    <%= javascript_include_tag :application %>
  </body>
</html>
